@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Shippori+Antique+B1&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf9ff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.App {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.left-side {
  height: 1080px; /* bffore 90vh */
  width: 350px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #afe6ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.left-side h1 {
  color: rgb(0, 75, 125);
  text-align: center;
}

.mybtn {
  display: flex;
  justify-content: center;
}

.btn {
  background-color: rgb(36, 131, 255);
  color: white;
  margin-top: 10px;
  padding: 10px;
  width: 100px;
  border: 0px;
  border-radius: 6px;
}

.btn:hover {
  background-color: rgb(68, 149, 255);
}
@media screen and (max-width: 768px) {
  .left-side {
    width: 100%;
    height: 200px;
  }
}

/* STYLE CARD COMPONENT */
.right-side {
  padding: 4rem 4rem 4rem 4rem;
}

.cliniclist {
  font-family: "Lato", sans-serif;
  width: 90vw;
  max-width: 1170px;
  /* margin: 5rem auto;
  margin: 3rem 4rem 3rem 4rem; */
  display: grid;
  gap: 2rem;
}
/* @media screen and (min-width: 1500px) {
  .cliniclist {
    grid-template-columns: repeat(2, 1fr);
  }
} */

@media screen and (min-width: 900px) {
  .right-side .cliniclist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.clinic {
  display: block;
  background: #fff;
  border-radius: 14px;
}
.clinic img {
  border-radius: 14px 14px 0 0;
  max-height: 200px;
  width: 100%;
}
.clinic h4 {
  color: #617d98;
  font-size: 0.75rem;
}
.right-side .addition {
  padding: 1rem 2rem;
}
.right-side .cardbtn:hover {
  background-color: rgb(71, 135, 231);
  transition: 0.5s;
}
.right-side .cardbtn {
  width: 120px;
  color: #fff;
  margin-left: 2rem;
  margin-bottom: 0.25rem;
  background-color: #6109f0;
}
/* END OF CARD STYLE */
